<%# app/view/widgets/show.html.erb %>

<h1><%= @widget.name %></h1>
<h2>ID #<%= styled_widget_id(@widget) %></h2>
<% if flash[:notice].present? %>
	<aside>
		<%= flash[:notice] %>
	</aside>
<% end %>

<%= render(WidgetRatingComponent.new(widget: @widget,
                                     show_cta: false)) %>
